
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Mouse+Memoirs&family=Outfit:wght@300;400;600&family=Patrick+Hand&family=Poppins:wght@400;500;700&family=Roboto:wght@300;400&display=swap');


.About_Box {
    height: 45rem;
    max-width: 100%;
    background-color: #060911;
    /* font-family: 'Poppins', sans-serif; */
    margin-top: auto;
    
    border: 2px solid red;
    
}
#About_header {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #327be9;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
}

#About_text {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: #c2d1e8;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    #About_header {
        animation: infinite 20s linear;
    }
}

