span {
    color: #3e6abb;
}

.container {
max-width: 100%;
/* height: 45rem; */
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: flex-start;
padding: 0 4rem;
background-color: #060911;
color: #d1d5db;
box-shadow: 1px 15px 17px -8px rgba(0,0,0,0.5);
font-family: 'Roboto', sans-serif;
/* border: 2px solid red; */

}

.Intro_Text{
font-size: 1.6rem;
font-weight: 400;
text-overflow: wrap;


}

.social-links {
width:28%;
justify-content: space-evenly;
flex-wrap: nowrap;
font-size: large;
/* border: 2px solid red; */


}

ul {
list-style: none;
display: flex;
justify-content: space-between;


}

ul a {
color: #d1d5db;
text-decoration: none;
font-weight: 400;

}


@media screen and (max-width: 768px) {
.container {
    flex-direction: column;
    height: 100%;
    padding: 0 2rem;
}
.Intro_Text {
    font-size: 1.2rem;
}
.social-links {
    width: 100%;
    justify-content: space-evenly;
}
    
}